.judul {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#kotakjudul{
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    padding: 5px;
    text-align: justify;
    width: fit-content;
    margin: auto;
}
hr{
    width: fit-content;
    text-align: center; 
    color:solid black;
    width: 70%;
}
#navbar{
    margin: auto;
    overflow: hidden;
    position: -webkit-sticky;
    position: relative;
    top: 0;
    width: fit-content;
    background: fixed;
    background-color: white;
}

#navbar a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover{
    background-color: darkseagreen;
}

#htua{
    position: absolute;
    width: 434.5px;
    height: 704px;
    left: 0px;
    top: 188px;

    background: #172B0F;
}